.rating span {
  margin: 0.1rem;
}

.form-control {
  margin-bottom: 10px;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.word-wrap {
  word-wrap: break-word;
}

.chatbox {
  max-height: 50vh;
  overflow: auto;
  background-color: #eeeeee;
  padding: 20px;
}

.css-1wa3eu0-placeholder {
  font: 400 13.3333px Arial;
  font-size: 16px;
  color: #66799e !important;
}

.css-yk16xz-control {
  font: 400 13.3333px Arial;
  font-size: 16px;
  width: 100% !important;
  min-height: calc(1.5em + 1.5rem) !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #66799e !important;
  background-clip: padding-box !important;
  border: 1 solid rgb(102, 121, 158) !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.css-1pahdxg-control:focus {
  border: 1 solid #566190 !important;
}

.css-1pahdxg-control {
  font-family: Arial;
  font-size: 16px;
  width: 100% !important;
  min-height: calc(1.5em + 1.5rem) !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #66799e !important;
  background-clip: padding-box !important;
  border: 1 solid !important;
  border-color: #566190 !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  box-shadow: 0 #ced4da !important;
  box-shadow: 0 0 0 3px #c6c6c6 !important;
  box-sizing: border-box;
}

.css-1n7v3ny-option {
  background-color: rgba(0, 0, 0, 0.075) !important;
}
